* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-size: 1em;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: 'Spoqa Han Sans Neo';
  background: #0E0E0E;
  color: #FFF;
  font-size: 16px;
  word-break: keep-all;
}

a {
  color: #FFF;
}

::selection {
  background-color: #FF4513;
  color: #FFF;
}

input,
select {
  border-radius: 0;
  -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}
