@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background: #000;
  color: #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}
