* {
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    color: #000;
    font-size: 16px;
    word-break: keep-all;
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}

a {
    color: #000;
}

p {
    margin: 0;
}

section {
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 1600px) {
    section {
        width: 1400px;
    }
}

/* Animations */

@keyframes slideup {
    from {
        transform: translate3d(0, .4em, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
