@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    color: #000;
    font-size: 16px;
    word-break: keep-all;
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}

button {
    cursor: pointer;
}

a {
    color: #000;
}

p {
    margin: 0;
}

section {
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 1600px) {
    section {
        width: 1400px;
    }
}

/* Animations */

@keyframes slideup {
    from {
        transform: translate3d(0, .4em, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        transform: translate3d(-2vw, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        visibility: visible;
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}

/* hack */

#givikiWidgetContainer,
#givikiWidgetContainer * {
    width: 0 !important;
    overflow: hidden !important;
}
